button {
  background-color: $green;
  padding: 15px 40px;
  border: none;
  color: $white;
  font: {
    weight: 600;
    size: medium;
  }
  border-radius: 5px;
  &:hover {
    cursor: pointer;
  }
  @media (max-width: 768px) {
    margin: auto;
    font-size: 12px;
  }
}
